@media screen and (min-width: 1024px) {
  html {
    min-height: 810px;
  }

  body {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }

  main {
    display: grid;
    background-image: url("../images/bg-pattern-top-desktop.svg") top no-repeat, url("../images/bg-pattern-bottom-desktop.svg") bottom no-repeat;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    min-height: 850px;
    height: 100vh;
    max-height: 1600px;
  }

  .main__intro {
    grid-area: 1/1/2/4;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    margin: 0;
  }
  .main__intro h2 {
    font-size: 5rem;
    text-align: start;
    padding: 100px 130px 20px 0;
  }
  .main__intro p {
    font-size: 2.5rem;
    text-align: start;
  }

  .main__reviews {
    grid-area: 1/4/2/7;
    justify-content: center;
    margin-top: 5vh;
    margin-left: 10%;
    height: 100%;
  }
  .main__reviews .review {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 30px;
    align-items: center;
    width: 90%;
    height: 50px;
  }
  .main__reviews .review h5 {
    margin-top: 5px;
    margin-left: 25px;
  }
  .main__reviews .review:nth-child(1) {
    margin-left: -60px;
  }
  .main__reviews .review:nth-child(2) {
    margin-left: -30px;
  }

  .main__comments {
    grid-area: 2/1/3/7;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 50vh;
  }
  .main__comments .comment {
    padding: 30px;
    margin: 15px;
    font-size: 1.5rem;
  }
  .main__comments .comment:nth-child(1) {
    margin-top: -50px;
  }
  .main__comments .comment:nth-child(3) {
    margin-top: 50px;
  }

  .attribution {
    margin-top: -15px;
  }
}