html {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: auto;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.main__intro {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 100px auto 50px;
  color: #502050;
  text-align: center;
}
.main__intro h2 {
  font-weight: 700;
  font-size: 2.5rem;
  padding: 10%;
  margin: 0 auto;
}
.main__intro p {
  font-size: 1.5rem;
  margin-top: 0;
}

.main__reviews {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  color: #502050;
}
.main__reviews .review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f2f7;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 10px 0;
}
.main__reviews .review img {
  margin: 0 3px;
}
.main__reviews .review h5 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.main__comments {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 40px auto;
}
.main__comments .comment {
  background-color: #502050;
  color: #f7f2f7;
  font-size: 1.5rem;
  padding: 8%;
  border-radius: 10px;
  margin-bottom: 15px;
}
.main__comments .comment .comment__perfil {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main__comments .comment .comment__perfil h5 {
  margin: 20px 0 0;
  font-size: 1.5rem;
}
.main__comments .comment .comment__perfil h6 {
  margin-top: 5px;
  font-size: 1.2rem;
  color: #ee68a4;
  font-weight: 400;
}
.main__comments .comment .comment__perfil img {
  height: 50px;
  margin-right: 25px;
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  html {
    min-height: 880px;
    max-height: 100vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .main__intro {
    grid-area: 1/1/2/4;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45vh;
    padding-left: 10%;
    margin: 0;
  }
  .main__intro h2 {
    font-size: 5rem;
    text-align: start;
    padding: 0 130px 20px 0;
  }
  .main__intro p {
    font-size: 2.5rem;
    text-align: start;
  }

  .main__reviews {
    grid-area: 1/4/2/7;
    justify-content: center;
    padding-right: 10%;
    height: 45vh;
  }

  .main__comments {
    grid-area: 2/1/3/7;
    width: 90%;
    height: 45vh;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 50vh;
  }
  .main__comments .comment {
    padding: 30px;
    margin: 15px;
    font-size: 1.5rem;
  }

  .attribution {
    margin-top: -14px;
    text-align: center;
  }
}